.App {
  text-align: center;
    font-family: 'Merienda', cursive;
}

.logo{
    padding-left: 30px;
    font-size: 50px;
    font-weight: bold;
}
.list{
    padding-right: 30px;
}
.home{
    background-image: url("https://i.imgur.com/fuQPtmK.jpg");
    height: 600px;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
}
.heading{
    font-size: 50px;
    font-family: 'Merienda', cursive;
}
.sub{
    font-family: 'Merienda', cursive;
}
.login{
    width: 40%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 40px;
}
.log{
     margin: auto;
    width: 80px;
    height: 40px;
    border-radius: 10%;
    background-color: black;
    color: white;
    cursor: pointer;
}
.label{
    font-size: 20px;
}
.foot{
    text-align: left;
    color: blue;
    cursor: pointer;
}
.foot:hover{
    text-decoration: underline;
}
.reg{
    width: 80px;
    height: 40px;
    border-radius: 10%;
    background-color: black;
    color: white;
    cursor: pointer;
    
}
.sub1{
    font-family: 'Merienda', cursive;
    margin-top: 50px;
    font-size: 40px;
    margin-left: 40px;
}
.img1{
    float: left;
    margin: 30px;
    margin-left: 5%;
    height: 300px;
    width: 400px;
    overflow: hidden;
}
.card1{
    margin: 120px;
    margin-top: 0;
    overflow: hidden;
}
.img2{
    float: right;
    margin: 30px;
    margin-right: 5%;
    height: 300px;
    width: 400px;
    overflow: hidden;
}
.text{
    margin: 50px;
    font-size: 18px;
}

#register, #login {
  width: 300px;
  border: 1px solid #d6d7da;
  padding: 0px 15px 15px 15px;
  border-radius: 5px;
  font-family: arial;
  line-height: 16px;
  color: #333333;
  font-size: 14px;
  background: #ffffff;
  margin: 100px auto;
}

form label, form input {
  display: block;
  //margin-bottom: 10px;
  width: 90%
}

form input {
  padding: 10px;
  border: solid 1px #BDC7D8;

}

.button {
  background-color: #00BFFF;
  border-color: #3ac162;
  font-weight: bold;
  padding: 12px 15px;
  color: #ffffff;
}

.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}

.sucessMsg {
  color: #6B8E23;
  margin-bottom: 10px;
}
.card2{
    margin: 120px;
    margin-top: 30px;
    overflow: hidden; 
}
.timeline-page{
    margin: 50px;
    margin-left: 100px;
    text-align: left;
}
.time{
    width:40%;
    height:40%;
}
.like{
    font-family: 'Merienda', cursive;
    margin: 1%;
    text-align: left;
}